---
import Mail from "./svg/Mail.astro";
import Phone from "./svg/Phone.astro";
import MapPing from "./svg/MapPing.astro";
import ContactForm from "./ContactForm.astro";
---

<section
  id="Contacto"
  class="bg-gradient-to-br from-puco-900 via-puco-700 to-puco-950 py-16 md:py-24 tracking-tight text-pretty">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2
        class="text-3xl md:text-6xl font-bold bg-gradient-to-br from-puco-300 via-puco-100 to-puco-400 bg-clip-text text-transparent">
        Contáctanos
      </h2>
      <p class="mt-4 text-2xl text-puco-100/90 max-w-2xl mx-auto">
        ¿Tienes un proyecto en mente? Estamos listos para ayudarte a hacerlo
        realidad.
      </p>
    </div>
    <div class="max-w-5xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12">
      <div
        class="bg-white/70 hover:bg-white/80 backdrop-blur-md shadow-lg hover:shadow-white/30 p-8 rounded-lg transition-all duration-300">
        <h3 class="text-2xl font-bold mb-6 text-puco-800">
          Envíanos un mensaje
        </h3>
        <ContactForm />
      </div>

      <!-- INFORMACIÓN DE CONTACTO -->
      <div class="flex flex-col justify-between">
        <div class="space-y-6 bg-white/70 p-6 rounded-2xl">
          <h3 class="text-2xl font-bold mb-6 text-puco-800">
            Información de contacto
          </h3>
          <div class="flex items-center gap-4">
            <Mail className="size-6 text-puco-800" />
            <div>
              <div class="font-bold text-puco-900">Email</div>
              <span class="text-gray-500 font-medium"
                >contacto@pucolabs.com</span
              >
            </div>
          </div>
          <div class="flex items-center gap-4">
            <Phone className="size-6 text-puco-800" />
            <div>
              <div class="font-bold text-puco-900">Teléfono</div>
              <span class="text-gray-500 font-medium">+34 123 456 789</span>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <MapPing className="size-6 text-puco-800" />
            <div>
              <div class="font-bold text-puco-900">Ubicación</div>
              <span class="text-gray-500 font-medium">Cancún, Quintana Roo</span
              >
            </div>
          </div>
        </div>

        <div
          class="mt-8 p-6 border border-white/20 bg-gradient-to-tr from-puco-800 via-puco-700 to-puco-900 text-white rounded-lg shadow-md">
          <h4 class="text-xl font-bold mb-2">¿Prefieres una llamada?</h4>
          <p class="mb-4">
            Agenda una llamada gratuita de 30 minutos para discutir tu proyecto.
          </p>
          <a
            href="https://wa.me/+34123456789"
            target="_blank"
            rel="noopener noreferrer"
            class="relative group inline-flex items-center justify-center overflow-hidden w-full h-10 bg-white text-puco-800 hover:bg-puco-50 font-semibold rounded-lg transition-all duration-300 hover:shadow-lg hover:-translate-y-1"
            aria-label="Agendar llamada">
            <span
              class="group-hover:opacity-0 group-hover:-translate-y-full opacity-100 transform transition-all duration-300 absolute flex items-center justify-center w-full h-full">
              Agendar llamada
            </span>
            <span
              class="opacity-0 group-hover:opacity-100 transform translate-y-full group-hover:translate-y-0 transition-all duration-300 flex items-center justify-center size-9">
              <Phone class="text-puco-800" />
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
