---
import Image from "astro/components/Image.astro";

const NavLinks = [
  {link: "#Inicio", label: "Inicio"},
  {link: "#Servicios", label: "Servicios"},
  {link: "#Equipo", label: "Equipo"},
  {link: "#Contacto", label: "Contacto"},
];
---

<header class="sticky top-0 z-50 bg-white shadow-sm shadow-puco-900/40">
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    <a href="/" class="flex items-center space-x-2">
      <Image
        src="/PucoLab.png"
        alt="PucoLab"
        width={36}
        height={36}
        loading="eager"
        class="size-9"
        draggable="false"
      />
      <span class="font-bold text-xl text-puco-800">pucoLab</span>
    </a>
    <nav class="hidden md:flex space-x-8">
      {
        NavLinks.map(({link, label}) => (
          <a
            href={link}
            class="text-gray-500 hover:text-puco-800 font-medium text-lg transition-colors">
            {label}
          </a>
        ))
      }
    </nav>
  </div>
</header>